/* Default styles for all screens */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
}

/* Styles for tablet screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .title {
    font-size: 1.5rem;
  }
}

/* Styles for mobile screens */
@media (max-width: 480px) {
  .title {
    font-size: 1rem;
  }
}
